<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Braço do robô -->
   <xacro:macro name="arm" params="name parent xyz rpy">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 -0.3" rpy="0 -0.4 0"/> 
        <geometry>
          <mesh filename="package://laser_rahcm_visualization/meshes/arm.stl" scale="0.01 0.01 0.011"/>
        </geometry>
        <material name="green"/>
      </visual>
      
      <collision>
        <geometry>
          <cylinder length="0.55" radius="0.05"/>
        </geometry>
      </collision>
      
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="12.5"/>
        <inertia
          ixx="${(1.0/12.0) * 12.5 * (3*(0.05*0.05) + 0.55*0.55)}"
          iyy="${(1.0/12.0) * 12.5 * (3*(0.05*0.05) + 0.55*0.55)}"
          izz="${(1.0/2.0) * 12.5 * (0.05*0.05)}"
          ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <joint name="joint_${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

</robot>