<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- junta entre roda e braço -->
   <xacro:macro name="joint_arm" params="name parent xyz rpy">
    <link name="${name}">
      <visual>
        <geometry>
          <cylinder length="0.23" radius="0.04"/>
        </geometry>
        <material name="gray"/>
      </visual>
      
      <collision>
        <geometry>
          <cylinder length="0.23" radius="0.04"/>
        </geometry>
      </collision>
      
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia
          ixx="${(1.0/12.0) * 2.0 * (3*(0.04*0.04) + 0.23*0.23)}"
          iyy="${(1.0/12.0) * 2.0 * (3*(0.04*0.04) + 0.23*0.23)}"
          izz="${(1.0/2.0) * 2.0 * (0.04*0.04)}"
          ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <joint name="joint_${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

</robot>